<connectionStrings>
  <!--Default connection string is used by the security-->
  <add name="DefaultConnection"
        connectionString="Data Source=J4M35\SQLEXPRESS; Initial Catalog=eRace; Integrated Security=true"
        providerName="System.Data.SqlClient" />
  <add name="eRaceDB"
       connectionString="Data Source=J4M35\SQLEXPRESS; Initial Catalog=eRace; Integrated Security=true;"
       providerName="System.Data.SqlClient"/>
</connectionStrings>